/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@include mat-core();

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/font/material-icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.dark-theme {
  $dark-primary: mat-palette($mat-red);
  $dark-accent: mat-palette($mat-yellow, A400, A100, A700);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);
  @include angular-material-theme($dark-theme);
}

body {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    //display: none;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #7a7a7a;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(70, 69, 69);
  }
}

.mat-app-background {
  min-height: 100vh;
}

.container {
  padding: 20px 40px 10px 40px;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
}
